.about {
  font-style: italic;
  font-size: 22px;
}

.experience {
  background-color: yellow;
}

.contacts {
  color: red;
  text-align: center;
}

.photos {
  display: flex;
  flex-direction: row;
  margin: auto;
}
